[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
## Common module dependencies ##
bson = "==0.5.10"
cachetools = "==7.0.1"
fastapi = "==0.131.0"
httpx = "==0.28.1"
psutil = "==7.2.2"
pydantic = "==2.12.5"
pydantic-settings = "==2.14.2"
python-dateutil = "==2.9.0.post0"
python-multipart = "==0.0.22"
requests = "==2.32.5"
starlette = "==0.52.1"

## Common module dependencies (optional) ##
elasticsearch = "==8.17.2"

## Component dependencies ##
uvicorn = { extras = ["standard"], version = "==0.41.0" }

[dev-packages]

[pipenv]
# Keep disabled to preserve the visual separation of the common & component dependencies.
sort_pipfile = false
