# Ignore everything
*

# Common module
!/common/
/common/*
!/common/common/

# Alchemist
!/alchemist/
/alchemist/*
!/alchemist/alchemist/
!/alchemist/Pipfile
!/alchemist/Pipfile.lock
!/alchemist/run.py
!/alchemist/start.sh

# Kronos
!/kronos/
/kronos/*
!/kronos/kronos/
!/kronos/Pipfile
!/kronos/Pipfile.lock
!/kronos/run.py
!/kronos/start.sh

# Maestro
!/maestro/
/maestro/*
!/maestro/maestro/
!/maestro/Pipfile
!/maestro/Pipfile.lock
!/maestro/run.py
!/maestro/start.sh

# Ragnarok
!/ragnarok/
/ragnarok/*
!/ragnarok/ragnarok/
!/ragnarok/Pipfile
!/ragnarok/Pipfile.lock
!/ragnarok/run.py
!/ragnarok/start.sh

# Ignore unnecessary files inside allowed directories
**/__pycache__/
**/.DS_Store
