[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
## Common module dependencies ##
bson = "==0.5.10"
cachetools = "==7.0.1"
fastapi = "==0.131.0"
httpx = "==0.28.1"
psutil = "==7.2.2"
pydantic = "==2.12.5"
pydantic-settings = "==2.14.2"
python-dateutil = "==2.9.0.post0"
python-multipart = "==0.0.22"
requests = "==2.32.5"
starlette = "==0.52.1"

## Common module dependencies (optional) ##
dnspython = "==2.8.0"
pyjwt = { extras = ["crypto"], version = "==2.13.0" }
pymongo = "==4.16.0"

## Component dependencies ##
azure-identity = "==1.25.2"
azure-storage-blob = "==12.28.0"
beautifulsoup4 = "==4.14.3"
minio = "==7.2.20"
uvicorn = { extras = ["standard"], version = "==0.41.0" }

[dev-packages]

[pipenv]
# Keep disabled to preserve the visual separation of the common & component dependencies.
sort_pipfile = false
