[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
## Common module dependencies ##
bson = "==0.5.10"
cachetools = "==7.0.1"
fastapi = "==0.131.0"
httpx = "==0.28.1"
psutil = "==7.2.2"
pydantic = "==2.12.5"
pydantic-settings = "==2.14.2"
python-dateutil = "==2.9.0.post0"
python-multipart = "==0.0.22"
requests = "==2.32.5"
starlette = "==0.52.1"

## Common module dependencies (optional) ##
elasticsearch = "==8.17.2"
openai = "==2.21.0"

## Component dependencies ##
beautifulsoup4 = "==4.14.3"
gevent = "==25.9.1"
langchain = "==1.2.10"
langchain-community = "==0.4.1"
langchain-openai = "==1.1.10"
langchain-text-splitters = "==1.1.1"
numpy = "==2.4.2"
openpyxl = "==3.1.5"
pymupdf = "==1.27.1"
pypdfium2 = "==5.11.0"
python-docx = "==1.2.0"
python-pptx = "==1.0.2"
tritonclient = { extras = ["http"], version = "==2.65.0" }
uvicorn = { extras = ["standard"], version = "==0.41.0" }

[dev-packages]
einops = "==0.8.2"
scikit-learn = "==1.8.0"
sentence-transformers = "==5.2.3"
torch = "==2.10.0"
transformers = "==5.2.0"

[pipenv]
# Keep disabled to preserve the visual separation of the common & component dependencies.
sort_pipfile = false
